<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{{site.url}}/assets/fonts/feather/feather.min.css">
    <link rel="stylesheet" href="{{site.url}}/assets/libs/highlight.js/styles/vs2015.css">
    <link rel="stylesheet" href="{{site.url}}/assets/libs/quill/dist/quill.core.css">
    <link rel="stylesheet" href="{{site.url}}/assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="{{site.url}}/assets/libs/flatpickr/dist/flatpickr.min.css">

    <!-- Theme CSS -->

    <link rel="stylesheet" href="{{site.url}}/assets/css/theme.min.css">

    <meta name="description" content="{{ page.description }}">
    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    <meta name="robots" content="noodp"/>
    <!-- Canonical URL
    ================================================== -->
    <link rel="canonical" href="{% if page.canonical-url %}{{ page.canonical-url }}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}">
    <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
    Twitter: https://dev.twitter.com/docs/cards/types/summary-card
    ============================== -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% endif %}" />
    <meta property="og:image"  content="{% if page.image %}{{site.url}}{{ page.image }}{% endif %}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="article:published_time" content="{{ page.date }}" />
    <meta property="article:modified_time" content="{{ page.date }}" />
    <meta property="og:site_name" content="Shiftly" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@shiftlyfinance" />
    <meta name="twitter:creator" content="@shiftlyfinance" />
    <meta name="twitter:title" content="{{ page.title }}" /.>
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% endif %}" />
    <meta name="twitter:image" content="{% if page.image %}{{site.url}}{{ page.image }}{% endif %}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131529945-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131529945-1');
    </script>
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/assets/img/favicon-16x16.png">
    <link rel="manifest" href="{{site.url}}/assets/img/site.webmanifest">
    <link rel="mask-icon" href="{{site.url}}/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{site.url}}/assets/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{site.url}}/assets/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>
    <!-- NAVIGATION
    ================================================== -->
    <div class="header alert border-0 alert-dark rounded-0 mb-0 py-3">
      <div class="container-fluid">
        <div class="header-body border-0 py-0 text-left">
          <div class="row align-items-end">
            <div class="col">

              <h1 class="text-white h3 mb-0 d-none d-md-flex">
                Weswap is Shiftly now!
              </h1>
              <h1 class="text-white h3 mb-0 mb-md-3 d-flex d-md-none">
                Weswap is Shiftly now!
              </h1>
              <small class="text-muted d-none d-md-flex">
                Weswap has a new home at Shiftly.finance. We're still working hard to deliver the best swaping experience soon.
              </small>

            </div>
            <div class="col-auto d-none d-md-flex">

                <a class="btn btn-white" href="#">
                    <i class="fe fe-read"></i> Medium Post (Soon)
                </a>

            </div>
          </div>
        </div>

      </div>
    </div>

      <nav class="navbar navbar-expand-lg bg-transparent border border-0" id="topnav">
        <div class="container">

          <!-- Brand -->
          <a class="mr-auto" href="{{site.url}}/">
            <img src="{{site.url}}/assets/img/shiftly-logo.svg" alt="Shiftly logo" height="48">
          </a>

          <!-- social -->
          <div class="navbar-user">
            <a class="text-white mr-5" href="/blog">Blog</a>
            <a href="https://t.me/shiftlyfinance" class="btn btn-rounded-circle btn-white mr-3 d-none d-md-inline-block">
              <img class="mx-auto" src="{{site.url}}/assets/img/telegram.svg" alt="telegram logo" height="20">
            </a>
            <a href="https://twitter.com/shiftlyfinance" class="btn btn-rounded-circle btn-white mr-3">
              <img class="mx-auto" src="{{site.url}}/assets/img/twitter.svg" alt="twitter logo" height="20">
            </a>
            <a href="https://medium.com/shiftly" class="btn btn-rounded-circle btn-white d-none d-md-inline-block">
              <img class="mx-auto" src="{{site.url}}/assets/img/medium.svg" alt="medium logo" height="20">
            </a>
          </div>

        </div> <!-- / .container -->
      </nav>



    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content mt--7">



      <!-- HEADER -->
      <div class="pt-7 pb-8 bg-ellipses bg-purple-curved">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 mt-6">

              <!-- Title -->
              <h1 class="display-2 d-none d-md-block text-center text-white">
                An instant cryptocurrency exchange
              </h1>
              <h1 class="display-4 d-block d-md-none text-center text-white mt-5">
                An instant cryptocurrency exchange
              </h1>

              <!-- Text -->
              <p class="lead text-center text-light mt-5 mb-4">
                Be the first to try our simple interface for swapping cryptocurrency like Bitcoin, Ethereum and many ERC20 tokens 👇. Join our Alpha.
              </p>
              <form action="https://weswap.us19.list-manage.com/subscribe/post?u=7af5c3187ee4d9e4add305a2e&amp;id=035cb9fb40" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate col-auto col-md-6 mx-auto mb-4" target="_blank" novalidate>
                <div class="justify-content-center">
                  <div class="input-group input-group-lg">
                    <input class="form-control bg-white" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7af5c3187ee4d9e4add305a2e_035cb9fb40" tabindex="-1" value=""></div>
                    <div class="input-group-append bg-black">
                      <button class="btn btn-dark btn-lg btn-block" name="subscribe" id="mc-embedded-subscribe">
                          <span class="fe fe-send"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <img src="{{site.url}}/assets/img/illustrations/powered-by.svg" class="img-fluid mx-auto d-block mt-4" alt="powered by 0x Project and Kyber">
            </div>
          </div> <!-- / .row -->
        </div>
      </div>

      <!-- CONTENT -->
      <div class="container">
        <div class="row justify-content-center mt--7">
          <div class="col-11 col-md-9">
            <div class="row">
              <div class="col-12 col-lg-4 mb-6">
                <!-- Card -->
                <div class="card h-100">

                  <div class="card-body text-center">

                    <div href="profile-posts.html" class="avatar avatar-xl card-avatar card-avatar-top">
                      <span class="border border-1 avatar-title bg-white rounded-circle text-success"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile"><circle cx="12" cy="12" r="10"></circle><path d="M8 14s1.5 2 4 2 4-2 4-2"></path><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line></svg></span>
                    </div>

                    <h2 class="card-title">
                      Easy
                    </h2>

                    <p class="card-text lead text-muted">
                        Decentralized trading has never been easier. Enter the amount of desired tokens and let the magic happen.
                    </p>

                  </div>

                </div>
              </div>
              <div class="col-12 col-lg-4 mb-6">

                <!-- Card -->
                <div class="card h-100">

                  <div class="card-body text-center">

                    <div href="profile-posts.html" class="avatar avatar-xl card-avatar card-avatar-top">
                      <span class="border border-1 avatar-title bg-white rounded-circle fe fe-zap text-warning"></span>
                    </div>

                    <h2 class="card-title">
                      Instant
                    </h2>

                    <p class="card-text lead text-muted">
                        Transact assets instantly and at the best price with our efficient multi-protocol approach for our matching engine.
                    </p>

                  </div>

                </div>

              </div>
              <div class="col-12 col-lg-4 mb-6">

                <!-- Card -->
                <div class="card h-100">

                  <div class="card-body text-center">

                    <div href="profile-posts.html" class="avatar avatar-xl card-avatar card-avatar-top">
                      <span class="border border-1 avatar-title bg-white rounded-circle fe fe-lock text-primary"></span>
                    </div>

                    <h2 class="card-title">
                      Safe
                    </h2>

                    <p class="card-text lead text-muted">
                        No custody, settlement or transaction risk.
                    </p>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mt-5 mb-5">
          <div class="col-12 col-md-10">
            <!-- Title -->
            <h2 class="display-3 text-center d-none d-md-block">
              The Most User-Friendly trading experience
            </h2>
            <h2 class="display-4 text-center d-block d-md-none">
              The Most User-Friendly trading experience
            </h2>

            <!-- Text -->
            <p class="lead text-center text-muted mx-auto">
              No order book. Just the essential to exchange seemlessly your Ethers & ERC20 tokens.
            </p>
            <img src="{{site.url}}/assets/img/illustrations/ui-show.png" class="img-fluid d-none d-md-block mt--5" alt="user interface Shiftly">
            <img src="{{site.url}}/assets/img/illustrations/ui-show-mobile.png" class="img-fluid d-block d-md-none" alt="mobile user interface Shiftly">
          </div>
        </div>

        <div class="row justify-content-center mt--0 mt-lg--7">
          <div class="col-11 col-md-9">
            <div class="row justify-content-center">
              <div class="col-12 col-md-9">
                <div class="header">
                  <div class="header-body">
                    <div class="row align-items-center">
                      <div class="col-3 d-block d-md-none">
                        <div class="avatar avatar-lg">
                        <img src="{{site.url}}/assets/img/illustrations/ic_security.png" alt="" width="64px">
                        </div>
                      </div>
                      <div class="col-9 col-md-12">
                        <h6 class="header-pretitle">
                          Decentralized
                        </h6>
                        <h2 class="header-title display-3 d-none d-md-block">
                          Trustworthy
                        </h2>
                        <h2 class="header-title display-4 d-block d-md-none">
                          Trustworthy
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="lead text-muted">No account. No deposit. No middleman. Trade assets in a truly decentralized fashion and in a totally risk-less manner. No registration is required - you can start trading right away. Your funds and information don’t suffer custodial risk. Never entrust your assets to a centralized exchange again. Shiftly lists popular token pairs which you can trade directly from your digital wallet.</p>
              </div>
              <div class="d-none d-md-block col-md-3 mt-lg-7">
                <img src="{{site.url}}/assets/img/illustrations/ic_security.png" alt="" width="100%">
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <div class="col-11 col-md-9">
            <div class="row">
              <div class="d-none d-md-block col-md-3 mt-lg-7">
                <img src="{{site.url}}/assets/img/illustrations/ic_liquidity.png" alt="" width="100%">
              </div>
              <div class="col-12 col-md-9">
                <div class="header">
                  <div class="header-body">
                    <div class="row align-items-center">
                      <div class="col-3 d-block d-md-none">
                        <div class="avatar avatar-lg">
                        <img src="{{site.url}}/assets/img/illustrations/ic_liquidity.png" alt="" width="64px">
                        </div>
                      </div>
                      <div class="col-9 col-md-12">
                        <h6 class="header-pretitle">
                          Liquid
                        </h6>
                        <h2 class="header-title display-3 d-none d-md-block">
                          Multi-protocol, Guaranteed Liquidity
                        </h2>
                        <h2 class="header-title display-4 d-block d-md-none">
                          Multi-protocol, Guaranteed Liquidity
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="lead text-muted">
                  We want to provide superior liquidity and user experience in the token economy.
                  Our multi-protocol model allows for fast transactions via both the 0x shared liquidity network and Kyber Network. Our matching engine finds the best available price and execute the transaction in no time, eliminating front-running. Settlement is done instantly, without any counterparty risk.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <div class="col-11 col-md-9">
            <div class="row">
              <div class="col-12 col-md-9">
                <div class="header">
                  <div class="header-body">
                    <div class="row align-items-center">
                      <div class="col-3 d-block d-md-none">
                        <div class="avatar avatar-lg">
                        <img src="{{site.url}}/assets/img/illustrations/ic_trading-fee.png" alt="" width="64px">
                        </div>
                      </div>
                      <div class="col-9 col-md-12">
                        <h6 class="header-pretitle">
                          Free
                        </h6>
                        <h2 class="header-title display-3 d-none d-md-block">
                          Trading Fees
                        </h2>
                        <h2 class="header-title display-4 d-block d-md-none">
                          Trading Fees
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="lead text-muted">
                  Other cryptocurrency trading services charge you with withdrawal fees and commissions. Because settlement is done peer-to-peer, directly on the blockchain, you never have to pay fees for withdraws. We have no fees during our beta version, simply pay the gas cost. We will announce when we will introduce trading fees and make sure they are competitive.
                </p>
              </div>
              <div class="d-none d-md-block col-md-3 mt-lg-7">
                <img src="{{site.url}}/assets/img/illustrations/ic_trading-fee.png" alt="" width="100%">
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mt-7 mb-5 mb-md-7">
          <div class="col-11 col-md-5">
            <!-- Title -->
            <h2 class="display-3 d-none d-md-block">
                Exchange multi-cryptocurrencies for DAI stable coin in 1 transaction
            </h2>
            <h2 class="display-4 d-block d-md-none">
                Exchange multi-cryptocurrencies for DAI stable coin in 1 transaction
            </h2>

            <!-- Text -->
            <p class="lead text-muted mx-auto">
              De-risk your digital asset portfolio in less than 1 minute with our simple multi-cryptocurrencies swap tool. Re-allocate in 1 transaction your portfolio based on equal weights, or custom percentages.
            </p>
            <a href="#!" class="btn btn-lg btn-dark my-5 my-md-4">Coming Soon</a>
          </div>
          <div class="col-11 col-md-6 offset-md-1">
            <img src="{{site.url}}/assets/img/illustrations/bearish-chart.svg" class="card img-fluid p-5" alt="Bearish cryptomarket chart">

          </div>
        </div>

        <div class="row justify-content-center mt-7 mb-5 mb-md-7">
          <div class="col-11">
            <!-- Title -->
            <h2 class="display-3 text-center d-none d-md-block">
              Meet the team
            </h2>
            <h2 class="display-4 text-center d-block d-md-none">
              Meet the team
            </h2>

            <!-- Text -->
            <p class="lead text-center text-muted w-75 mx-auto">
              Our core team is made of experienced financial experts and engineers. We strive to make people embrace the incoming world token economy with the best technologies and tools possible.
            </p>

            <div class="mt-7 card-deck">
                <!-- Card -->
                <div class="card mb-6 mb-md-3 ">
                  <div class="card-body text-center">
                    <span class="avatar avatar-xl card-avatar card-avatar-top">
                      <img src="{{site.url}}/assets/img/avatars/profiles/romain.png" class="avatar-img rounded-circle border border-4 border-card" alt="Romain Arandel">
                    </span>
                    <h2 class="card-title">
                      Romain Arandel
                    </h2>
                    <small>Product</small>
                    <p class="card-text text-muted mt-4">
                      Romain holds an MSc in Finance from the International University of Monaco. He previously worked in M&A arbitrage in the hedge-fund industry, front-office in Private Banking and as a business developer for international companies. Romain also has an entrepreneurial background having co-founded several startups since 2011. He Believes in a decentralized and tokenized economy.
                    </p>
                  </div>
                  <div class="card-footer border border-0 text-center">
                    <a href="https://www.linkedin.com/in/romainarandel" class="btn btn-white">
                      <span class="fe fe-linkedin text-primary"></span>
                    </a>
                  </div>
                </div>
                <!-- Card -->
                <div class="card mb-6 mb-md-3">
                  <div class="card-body text-center">
                    <span class="avatar avatar-xl card-avatar card-avatar-top">
                      <img src="{{site.url}}/assets/img/avatars/profiles/edouard.png" class="avatar-img rounded-circle border border-4 border-card" alt="Edouard Soutzo">
                    </span>
                    <h2 class="card-title">
                      Edouard Soutzo
                    </h2>
                    <small>Marketing</small>
                    <p class="card-text text-muted mt-4">
                      Edouard is an entrepreneur and a passionate about trading strategies and chart analysis. He spent the last 10 years doing chart trading and entrepreneurship and cofounded startups in Fintech, Medtech and social Media. He is a deep supporter of blockchain technologies and the way it can disintermediate our actual economy.
                    </p>
                  </div>
                  <div class="card-footer border border-0 text-center">
                    <a href="https://www.linkedin.com/in/edouardsoutzo/" class="btn btn-white">
                      <span class="fe fe-linkedin text-primary"></span>
                    </a>
                  </div>
                </div>
                <!-- Card -->
                <div class="card mb-6 mb-md-3">
                  <div class="card-body text-center">
                    <span class="avatar avatar-xl card-avatar card-avatar-top">
                      <img src="{{site.url}}/assets/img/avatars/profiles/bret.jpg" class="avatar-img rounded-circle border border-4 border-card" alt="Guillaume Palayer">
                    </span>
                    <h2 class="card-title">
                      Bret Faller
                    </h2>
                    <small>Blockchain Development</small>
                    <p class="card-text text-muted mt-4">
                        With almost 20 years of experience as a professional software engineer, Bret has a wide variety of exposure to numerous technologies. In that time, he has worked on and/or lead numerous projects for Fortune 500 companies such as Microsoft, CNN, NBC, and Boeing, to name a few. His current passions are AR/VR and blockchain technologies.                    </p>
                  </div>
                  <div class="card-footer border border-0 text-center">
                    <a href="https://www.linkedin.com/in/bret-faller-b441738/" class="btn btn-white">
                      <span class="fe fe-linkedin text-primary"></span>
                    </a>
                  </div>
                </div>
            </div>
            <div class="mt-0 mt-md-7 card-deck justify-content-center">

                <!-- Card -->
                <div class="card bg-transparent border-0 shadow-none d-none d-md-inline-block mb-6 mb-md-3">
                </div>
                <!-- Card -->
                <div class="card mb-6 mb-md-3">
                  <div class="card-body text-center">
                    <span class="avatar avatar-xl card-avatar card-avatar-top">
                      <img src="{{site.url}}/assets/img/avatars/profiles/guillaume.jpg" class="avatar-img rounded-circle border border-4 border-card" alt="Guillaume Palayer">
                    </span>
                    <h2 class="card-title">
                      Guillaume Palayer
                    </h2>
                    <small>Design & frontend</small>
                    <p class="card-text text-muted mt-4">
                      Guillaume is the co-founder of Shiftly. He has also co-founded <a href="https://betoken.fund">Betoken</a>. His mission is to design and code the front end experience of the Shiftly's App. He is also an user researcher passionate by the token economy and the decentralized Web.
                    </p>
                  </div>
                  <div class="card-footer border border-0 text-center">
                    <a href="https://www.linkedin.com/in/gpalayer/" class="btn btn-white">
                      <span class="fe fe-linkedin text-primary"></span>
                    </a>
                  </div>
                </div>
                <!-- Card -->
                <div class="card bg-transparent border-0 shadow-none d-none d-md-inline-block mb-6 mb-md-3">
                </div>
            </div>
          </div>
        </div>
      </div> <!-- / .row -->
      <!-- footer -->
      <div class="container pb-4">
        <div class="row justify-content-center">
          <div class="col-11 col-md-10 col-lg-8 col-xl-6">

            <!-- Title -->
            <h2 class="display-3 text-center d-none d-md-block">
              Exchange ERC20 tokens using your own Ethereum wallet
            </h2>
            <h2 class="display-4 text-center d-block d-md-none">
              Exchange ERC20 tokens using your own Ethereum wallet.
            </h2>

            <!-- Text -->
            <p class="lead text-secondary text-center mt-5">
              Be the first to try our Alpha and know when we launch on Ethereum Mainnet 👇.
            </p>
            <form action="https://weswap.us19.list-manage.com/subscribe/post?u=7af5c3187ee4d9e4add305a2e&amp;id=035cb9fb40" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate col-auto col-md-6 mx-auto mb-4" target="_blank" novalidate>
              <div class="justify-content-center">
                <div class="input-group input-group-lg">
                  <input class="form-control bg-white" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="myemail@address.com" required>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7af5c3187ee4d9e4add305a2e_035cb9fb40" tabindex="-1" value=""></div>
                  <div class="input-group-append bg-black">
                    <button class="btn btn-dark btn-lg btn-block" name="subscribe" id="mc-embedded-subscribe">
                        <span class="fe fe-send"></span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="row justify-content-center">
              <div class="col-auto mb-5 mt-5">
                <a href="https://t.me/shiftlyfinance" class="btn btn-rounded-circle btn-white mr-3">
                  <img class="mx-auto" src="{{site.url}}/assets/img/telegram.svg" alt="telegram logo" height="20">
                </a>
                <a href="https://twitter.com/shiftlyfinance" class="btn btn-rounded-circle btn-white mr-3">
                  <img class="mx-auto" src="{{site.url}}/assets/img/twitter.svg" alt="twitter logo" height="20">
                </a>
                <a href="https://medium.com/shiftly" class="btn btn-rounded-circle btn-white mr-3">
                  <img class="mx-auto" src="{{site.url}}/assets/img/medium.svg" alt="medium logo" height="20">
                </a>
                <!-- github
                <a href="https://github.com/weswapexchange" class="btn btn-rounded-circle btn-white">
                  <img class="mx-auto" src="{{site.url}}/assets/img/github.svg" alt="medium logo" height="20">
                </a>
                -->
              </div>
            </div>
            <p class="text-center text-secondary">
              Contact us at <a class="text-secondary" href="mailto:hello@shiftly.finance?subject=Hey">hello@shiftly.finance</a>
            </p>

          </div>
        </div> <!-- / .row -->
      </div>

    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="{{site.url}}/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="{{site.url}}/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{site.url}}/assets/libs/chart.js/dist/Chart.min.js"></script>
    <script src="{{site.url}}/assets/libs/chart.js/Chart.extension.min.js"></script>
    <script src="{{site.url}}/assets/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="{{site.url}}/assets/libs/flatpickr/dist/flatpickr.min.js"></script>
    <script src="{{site.url}}/assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="{{site.url}}/assets/libs/list.js/dist/list.min.js"></script>
    <script src="{{site.url}}/assets/libs/quill/dist/quill.min.js"></script>
    <script src="{{site.url}}/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="{{site.url}}/assets/libs/select2/dist/js/select2.min.js"></script>

    <!-- Theme JS -->
    <script src="{{site.url}}/assets/js/theme.min.js"></script>

  </body>
</html>
